@font-face {
	font-family: 'Conv_parangon_530c';
	src: url('fonts/parangon_530c.eot');
	src: local('☺'), url('fonts/parangon_530c.woff') format('woff'), url('fonts/parangon_530c.ttf') format('truetype'), url('fonts/parangon_530c.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_PT_Sans';
	src: url('fonts/PT_Sans-Caption-Web-Regular.eot');
	src: local('☺'), url('fonts/PT_Sans-Caption-Web-Regular.woff') format('woff'), url('fonts/PT_Sans-Caption-Web-Regular.ttf') format('truetype'), url('fonts/PT_Sans-Caption-Web-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura-Normal';
	src: url('fonts/ofont.ru_Futura-Normal.eot');
	src: local('☺'), url('fonts/ofont.ru_Futura-Normal.woff') format('woff'), url('fonts/ofont.ru_Futura-Normal.ttf') format('truetype'), url('fonts/ofont.ru_Futura-Normal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica_Neue_Cyr';
	src: url('fonts/HelveticaNeue.eot');
	src: local('☺'), url('fonts/HelveticaNeue.woff') format('woff'), url('fonts/HelveticaNeue.ttf') format('truetype'), url('fonts/HelveticaNeue.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Arial-BoldMT';
	src: url('fonts/Arial-BoldMT.eot');
	src: local('☺'), url('fonts/Arial-BoldMT.woff') format('woff'), url('fonts/Arial-BoldMT.ttf') format('truetype'), url('fonts/Arial-BoldMT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arial_mt';
	src: url('fonts/ARIALMT.eot');
	src: local('☺'), url('fonts/ARIALMT.woff') format('woff'), url('fonts/ARIALMT.ttf') format('truetype'), url('fonts/ARIALMT.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}