* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../img/back.png');
}

.main-container {
    height: 280px;
    width: 400px;
    margin: 0 auto;
    transition: background 0.4s ease;
    background-image: url("../img/empty_back.png");
    background-repeat: no-repeat;
    background-position: top center;
    padding: 80px 0 0 0;
}

.radio-list {
    display: flex;
    flex-direction: column;
    padding: 20px 0 10px 10px;
}

.radio-station {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background: rgb(255, 255, 255, 0.7);
    padding: 8px;
}

.radio-station-label {
    width: 70px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
}

/* компоненты для мобильной версии */
.mobile-control,
.radio-station-text {
    display: none !important;
}