* {
    margin: 0;
    padding: 0;
}

.pc {
    display: block;
}

.mobile, .none {
    display: none;
}

.player-bi {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
}

.player-overlay {
    background: rgb(28 35 47 / 50%);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.player-content {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}

.player-title {
    width: 100%;
    font-size: 5em;
    text-align: center;
    margin-top: 1em;
}

.pretty-font {
    color: rgba(255, 255, 255, 0.56);
    text-shadow: 0 0 1px hsl(0, 36%, 87%),
    0 0 16px hsla(0, 100%, 52%, 0.6),
    0 0 30px hsl(312, 62%, 46%),
    0 0 60px #5e0202;
    font-family: "VT323", monospace;
}

.radio-list {
    display: flex;
    flex-direction: column;
    padding: 20px 0 10px 10px;
}

.radio-station {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-station-label {
    width: 70px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;
}

.station-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}