@media only screen and (max-device-width: 1000px) {
    .pc {
        display: none;
    }

    .mobile {
        display: block;
    }

    .main-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: center center;
        background-size: 100% auto;
        padding: 0;
    }

    .radio-list {
        padding: 30px 30px 10px 30px;
        display: flex;
    }

    .mobile-control,
    .radio-station-text {
        display: inline-block !important;
    }

    .radio-station {
        justify-content: space-between;
    }

    .radio-station-text {
        font-size: 100px;
        font-weight: bolder;
        font-variant : small-caps;
    }
}